.header {
    display: flex;
    align-items: center;
    height: 64px;
    background: #597da3;
    padding-left:25px;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.logo{
    width: 30px;
    height: 30px;
}

.login a {
    color:black;
    margin-right: 30px;
}